body {
    margin: 0;
    font-family: Arial;
    color: white;
    text-align: center;
}
.navbar {
    background: rgba(0,0,0,0.7);
    padding: 15px;
}
.navbar a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-size: 18px;
}
.home {
    background-image: url('https://images.unsplash.com/photo-1677442136019-21780ecad995');
    background-size: cover;
    height: 100vh;
    padding-top: 150px;
}
.about-bg {
    background-image: url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d');
    background-size: cover;
}
.guide-bg {
    background-image: url('https://images.unsplash.com/photo-1537432376769-00a1b1a8d6c3');
    background-size: cover;
}
.register-bg {
    background-image: url('https://images.unsplash.com/photo-1526378722484-cc5c510becc8');
    background-size: cover;
}

.content {
    padding: 50px;
}

.img {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

.form-container {
    background: rgba(0,0,0,0.7);
    padding: 20px;
    width: 300px;   
    margin: 100px auto;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    background: #00c3ff;
    color: white;
    cursor: pointer;
}




